*{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color:#FD6E0A;
}
/* styles for header */
.header a{
    color:black;
    text-decoration: none;
}
.header a:hover{
    background-color: aliceblue;
}
.header{
    border-top:1px solid #FFF8F3 ;
    background-color: #FFF8F3;
    background-image:url(../images/developer.png),url(../images/header_bg.png);
    background-position: left,bottom right;
    background-repeat:no-repeat;
}
/* styles for header and nav */
nav {
    display:flex; 
    justify-content:space-between;
    margin:50px 200px;

}
nav ul{
    display :flex;
    align-items:center;
}
nav li{
    list-style:none;
    margin-left:50px;
}
.nav-title{
    font-weight:800px;
    font-size:45px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    height:64px;
    font-weight:700px;
    font-size: 20px;
    color:white;
    padding:18px 36px;
    border:0px;
}
.btn-primary:hover{
    background-color: #944208;;
}
/* banner */
.banner{
    width: 100%;
    display:flex;
}
.banner-intro{
    margin:50px 200px;
}
.banner-subtitle{
    font-size:45px;
    font-weight:600px;
    color: var(--dark-02, #474747);
    margin:90px 5px;
}
.banner-title{
    font-size:85px;
    font-weight:700;
    margin-bottom:20px;
}
.banner-description{
    font-size:18px;
    margin-bottom:30px;
    color: var(--dark-03, #757575);
}
.banner img{

    width:40%;
}
/* section */
/* about */
.about{
    border-radius: 10px;
    background: #FFF8F3;;
    padding:80px 130px 30px;
    margin:130px auto 0px;
}
.section-title{
    text-align:center;
    font-size:35px;
    font-weight:700;
    margin-bottom:30px;
}
.section-description{
    text-align: center;
    font-size:18px;
    color: var(--dark-03, #757575);
    margin-bottom:30px;
    font-weight: 400;
}
.info{
    display: none;
}
/* what i do */
.what-i-do{
    text-align:center;
    margin:100px 345px 0px 345px;
}
.skill-container{
    display:flex;
    justify-content:center;
    gap:24px;
}
.skill{
    margin-left:24px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:2px 2px 11px 2px;
}
.skill-image{
    margin:30px;

}
.skill-title{
    margin:20px 20px;
}
.skill-description{
    margin-left:20px;
    margin-bottom:20px;
}
/* resume */
.resume-section{
    margin:0px 230px;
    margin-top:130px;
}
.resume-container{
    display:flex;
    justify-content:center;
    gap:50px;
    margin-top:130px;

}
.resume{
    margin:70px;
}
.resume-type{
    color:#474747;
    font-size:30px;
    font-weight:700;
    margin-bottom:30px;

}
.resume-title{
   color: #474747;
   font-size:25px;
   font-weight: 700;
   margin-bottom:10px;

}
.resume-subtitle{
    color:#757575;
    font-size:20px;
    font-weight:600;
    margin-bottom:20px;
}
.resume-description{
    color:#757575;
    margin-bottom:30px;

}
.resume-btn{
    margin:50px;
    text-align:center;
}
/* contact */
.contact{
    background-color:#FFF8F3;
    width:100%;

}
.contact .container{
    display:flex;
    margin: 100px 100px 0px 100px;
    padding-top:130px;
    padding-bottom:100px ;
}
.form input[type="email"],.form input[type="name"],.form textarea{
    height:64px;
    width:460px;;
    display: block;
    border:0px;
    padding:10px;
    color:#474747;
    margin:24px 0px 24px 0px;
}
.description{
    margin-right:100px;
    text-align:left;

}
.contact .title{
    margin-bottom:30px;
}
.contact .para{
    color:#474747;
    margin-bottom:30px;
}








@media screen and (max-width:576px){
    /* styles for header */
.header{
    background-size: 6.5%,60%;
}
    /* styles for header and nav */

    nav {
        display:flex; 
        justify-content:space-between;
        margin:0px 10px;
    
    }
    nav ul{
        display :flex;
        align-items:center;
        padding: 10px 0px;
    }
    nav li{
        list-style:none;
        margin-left:10px;
    }
    .nav-title{
        font-weight:800px;
        font-size:1.5em;
    }
    .btn-primary{
        border-radius: 5px;
        background: #FD6E0A;
        font-weight:700px;
        height:1.5em ;
        color:white;
        padding:0px 20px;
        border:0px;
    }
    /* banner */
    .banner{
        display:flex;
        justify-content: center;
        align-items: flex-end;
    }
    .banner-intro{
        margin:0px;
        margin-top: 0px;
        margin-left: 7%;
    }
    .banner-subtitle{
        font-size:1.125em;
        font-weight:600px;
        color: var(--dark-02, #474747);
    }
    .banner-title{
        font-size:1.5em;
        font-weight:700;
        margin-bottom:10px;
    }
    .banner-description{
        font-size: .875em;
        margin-bottom:.6em;
        color: var(--dark-03, #757575);
    }
    /* section */
    /* about */
    .about{
        border-radius: 20px;
        background: #FFF8F3;;
        margin:20px auto 0px;
        padding:0.5em;
    }
    .section-title{
        text-align:center;
        font-size: 1.5em;
        font-weight:700;
        margin-bottom:30px;
    }
    .section-description{
        text-align: center;
        font-size:0.875em;
        color: var(--dark-03, #757575);
        margin-bottom:20px;
        font-weight: 400;
    }
    table{
        display: none;
    }
    .info{
        display:flex;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        font-size:.875em;
    }
    /* what i do */
    .what-i-do{
        text-align:center;
        margin:10px;
    }
    .skill-container{
        margin:15px;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:15px;
    }
    .skill{
        margin:0px;
        border-radius: 5px;
        background-color: #FFF;
        box-shadow:2px 2px 11px 2px;
    }
    .skill-image{
        margin:5px;


    }
    .skill-image img{
        width:50%;
    }
    .skill-title{
        margin:10px
    }
    .skill-description{
        margin: 10px;
        font-size:.875em;
    }
    /* resume */
    .resume-section{
        margin:10px;
        margin-top:25px;
    }
    .resume-container{
        display:flex;
        flex-direction: column;
        justify-content:center;
        margin-top:10px;

    }
    .resume{
        margin:10px;
    }
    .resume-type{
        color:#474747;
        font-size:30px;
        font-weight:700;
        margin-bottom:30px;

    }
    .resume-title{
    color: #474747;
    font-size:25px;
    font-weight: 700;
    margin-bottom:10px;

    }
    /* contact */
    .contact{
        background-color:#FFF8F3;
        width:100%;

    }
    .contact .container{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        margin:0px;
        margin-left: 20px;
        padding-top:10px;
        padding-bottom: 20px;
    }
    input::placeholder{
        font-size: 10px;
    }
    .form input[type="email"],.form input[type="name"],.form textarea{
        height:15px;
        width:150px;
        display: block;
        border:0px;
        padding:5px;
        color:#474747;
        margin:5px;
    }
    .description{
        margin-right:20px;
        text-align:left;

    }
    .contact .title{
        margin-bottom:5px;
        font-size: .875em;
    }
    .contact .para{
        font-size: .5em;
        color:#474747;
        margin-bottom:10px;
    }
}
@media screen and (min:577px) {
    table{
        display:table;
    }
}