*{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color:#FD6E0A;
}
/* styles for header */
.header{
    border-top:1px solid #FFF8F3 ;
    background-color: #FFF8F3;
    background-image:url(../images/developer.png),url(../images/header_bg.png);
    background-position: left,bottom right;
    background-repeat:no-repeat;
}
/* styles for header and nav */
nav {
    display:flex;
    justify-content:space-between;
    margin:50px 200px;

}
nav ul{
    display :flex;
    align-items:center;
}
nav li{
    list-style:none;
    margin-left:50px;
}
.nav-title{
    font-weight:800px;
    font-size:45px;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    height:64px;
    font-weight:700px;
    font-size: 20px;
    color:white;
    padding:18px 36px;
    border:0px;
}
/* banner */
.banner{
    display:flex;
}
.banner-intro{
    margin:50px 200px;
}
.banner-subtitle{
    font-size:45px;
    font-weight:600px;
    color: var(--dark-02, #474747);
    margin-bottom:5px;
}
.banner-title{
    font-size:85px;
    font-weight:700;
    margin-bottom:20px;
}
.banner-description{
    font-size:18px;
    margin-bottom:30px;
    color: var(--dark-03, #757575);
}
/* section */
/* about */
.about{
    width:1000px;
    border-radius: 10px;
    background: #FFF8F3;;
    padding:80px 130px 30px;
    margin:130px auto 0px;
}
.section-title{
    text-align:center;
    font-size:35px;
    font-weight:700;
    margin-bottom:30px;
}
.section-description{
    text-align: center;
    font-size:18px;
    color: var(--dark-03, #757575);
    margin-bottom:30px;
    font-weight: 400;
}
/* what i do */
.what-i-do{
    text-align:center;
    margin:100px 345px 0px 345px;
}
.skill-container{
    display:flex;
    justify-content:center;
    gap:24px;
    margin-right:150px;
    margin-left:150px
}
.skill{
    margin-left:24px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow:2px 2px 11px 2px;
}
.skill-image{
    margin:30px;

}
.skill-title{
    margin:20px 20px;
}
.skill-description{
    margin-left:20px;
    margin-bottom:20px;
}
/* resume */
.resume-section{
    margin:0px 230px;
    margin-top:130px;
}
.resume-container{
    display:flex;
    justify-content:center;
    gap:50px;
    margin-top:130px;

}
.resume{
    margin:70px;
}
.resume-type{
    color:#474747;
    font-size:30px;
    font-weight:700;
    margin-bottom:30px;

}
.resume-title{
   color: #474747;
   font-size:25px;
   font-weight: 700;
   margin-bottom:10px;

}
.resume-subtitle{
    color:#757575;
    font-size:20px;
    font-weight:600;
    margin-bottom:20px;
}
.resume-description{
    color:#757575;
    margin-bottom:30px;

}
.resume-btn{
    margin:50px;
    text-align:center;
}
/* contact */
.contact{
    background-color:#FFF8F3;
    width:100%;
    height:780px;

}
.contact .container{
    display:flex;
    margin:230px;
    padding-top:130px;
}
.form input[type="email"],.form input[type="name"],.form textarea{
    height:64px;
    width:460px;;
    display: block;
    border:0px;
    padding:10px;
    color:#474747;
    margin:24px 0px 24px 0px;
}
.description{
    margin-right:100px;
    text-align:left;

}
.contact .title{
    margin-bottom:30px;
}
.contact .para{
    color:#474747;
    margin-bottom:30px;
}
